!!!5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{name: :viewport}
    %title
      - if content_for?(:title)
        = yield_content(:title)

    = stylesheet_link_tag 'site'
    = javascript_include_tag 'site'

    %script{src: "https://code.jquery.com/jquery-3.3.1.slim.min.js",
      integrity: "sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=",
      crossorigin: "anonymous"}

    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"}

    %script{src: "https://www.googletagmanager.com/gtag/js?id=UA-125421670-1",
      async: true}

    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125421670-1');


  %body
    %header
      %nav
        %ul
          %li
            = link_to 'Main', '/'
          %li
            = link_to 'Location', '/location'
          %li
            = link_to 'Pictures', '/pictures'

    = yield

    %footer{class: 'hidden'}
      %small
        Last updated at #{Time.now.strftime("%m/%d/%Y %H:%M")}

